/*----------Background-Colors------*/
.bgBlue1{
    background-color: $blue1;
}
.bgBlue2{
    background-color: $blue2;
}
.bgBlue3{
    background-color: $blue3;
}

.bgGrey1{
    background-color: $grey1;
}

.bgGrey2{
    background-color: $grey2;
}

.bgGrey3{
    background-color: $grey3;
}